.container {
  min-height: 100vh;
  padding: 0 0.5rem;
}

.main {
  padding: 2rem;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
